body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #5977a5;
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 370px;
    margin: auto;
    padding: 20px;
    border-radius: 5%;
    background-color: #1877f2;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container for buttons */
.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    background-color: #fdfdfd;
    color: #1877f2;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    align-items: center;
}


img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
}

h1 {
    color: #f6f6f6;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    font-size: 36px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 250px;
    border-radius: 10px;
    display: block;

}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1877f2
}

.modal-content label {
    font-weight: bold;
    color: #1877f2;
}

.modal-content input {
    color: #1877f2;
}

.modal-content select {
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    height: 100;
    color: #1877f2;
    border-radius: 10px;
    padding: 10px;

}

.modal-content button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1877f2;
    color: #ffffff;
    font-weight: bold;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content span {
    font-weight: bold;
    color: #1877f2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}